<%= link_to("BACK TO LIST", author_index_path, :class => 'back-link')%>
<div class="author new">
  <h1>Create Author</h1>
  <%= form_for(@author,:url => author_index_path,:method => 'post')do |f| %>
  <table summary="Author fields">
  <tr>
    <th> Enter Author Name </th>
    <td><%= f.text_field(:name)%></td>
  </tr>
  <tr>
  <th> Enter Book Name </th>
  <td><%= f.text_field(:books)%></td>
</tr>
  </table>
  <div class="form-buttons">
    <%= f.submit("Create Author")%>
  </div>
  <%end%>
</div>