<%= link_to("BACK Button",  supp_index_path, :class => 'back-link')%>
<div>
  <h1>Show Supplier</h1>
  <table class="styled-table">
    <tr>
      <th>Supplier Id :- </th>
      <td><%= @supplier.id %></td>
    </tr>
    <tr>
      <th>Supplier Name :- </th>
      <td><%= @supplier.name %></td>
    </tr>
  </table>
</div>


<h1> Supplier Account Details </h1>
<table style="width:100%">
  <tr class="active-row">
    <th>#</th>
    <th> Account ID </th>
    <th> Supplier ID </th>
    <th> Supplier Name </th>
    <th> Account Number </th>

    <br><br>
  </tr>
  <% supplier = @supplier.acco %>
  <tr>
    <td></td> 
    <td><%= supplier.id %></td> 
    <td><%= supplier.supp_id %></td>
    <td><%= supplier.supp.name %></td>
    <td><%= supplier.account_number %></td> 
    <br>
  </tr>
</table>


<h1> Supplier Account History </h1>
<table style="width:100%">
  <tr class="active-row">
    <th>#</th>
    <th> History ID </th>
    <th> Credit Rating </th>
    <th> Account ID </th>
    <th> Account Number </th>
    <th> Supplier ID </th>
    <th> Supplier Name </th>
    <br><br>
  </tr>
  <% history = @supplier.acco.acco_history %>
  <tr>
    <td></td> 
    <td><%= history.id %></td> 
    <td><%= history.credit_rating %></td>
    <td><%= history.acco_id %></td>
    <td><%= history.acco.account_number %></td> 
    <td><%= history.acco.supp_id %></td>
    <td><%= history.acco.supp.name %></td> 
    <br>
  </tr>
</table>


<div>
  <h1>Update Account History</h1>
  <%= form_for(@supplier.acco.acco_history,:url => supp_update_history_path(@supplier.acco.acco_history),:method => 'patch')do |f| %>

  <table>
  <tr>
    <th> Enter Credit Rating</th>
    <td><%= f.text_field(:credit_rating)%></td>
  </tr>
  <table>
  <div class="form-buttons">
    <%= f.submit("Update")%>
  </div>
  <%end%>
</div>


<head>
<style>
table {
  border-spacing: 0.5rem;
}

td {
  padding: 0.5rem;
}
td:nth-child(1) { background: hsl(150, 50%, 50%); }
td:nth-child(2) { background: hsl(160, 60%, 50%); }
td:nth-child(3) { background: hsl(170, 70%, 50%); }
td:nth-child(4) { background: hsl(180, 80%, 50%); }
td:nth-child(5) { background: hsl(190, 90%, 50%); }
td:nth-child(6) { background: hsl(200, 99%, 50%); }
td:nth-child(7) { background: hsl(200, 20%, 50%); }
</style>
</head>
